<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Welcome to Guardian Citizen</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
.header {
  padding: 60px;
  text-align: center;
  background: #4472C4;
  color: white;
  font-size: 30px;
}
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Guardian Citizen</h1>
  <p>Organizing the Volunteers</p>
</div>
<body>
Hello, world. Flood volunteers shall be organized.
<form action="{%url 'emergency'%}" method="get">
<button class="btn btn-primary" type="submit">Create a New Emergency</button>

</form>

</body>
</html>